* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #222;
    color: #fefefe;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

label {
    display: block;
    font-size: 1.1em;
    font-family:'Courier New', Courier, monospace;
    margin-top: 1em;
}

.box {
    display: grid;
    grid-template-areas: "left right";
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}

.left {
    grid-area: left;
    position: relative;
    background-image: url("../image/backdrop.jpg");
    background-size: cover;
}

.big-circle-thing {
    position: absolute;
    background-color: rgba(186, 12, 255, 0.8);
    width: 800px;
    height: 800px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
    right: -6em;
    top: 4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.big-circle-thing > h1 {
    margin: 10px;
}

.right {
    grid-area: right;
    position: relative;
    padding-left: 10em;
    padding-right: 1em;
    padding-top: 5em;
}

.right > h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.8em;
    margin-bottom: .1em;
}

#target {
    position: relative;
    width: 400px;
    height: 350px;
    border: 1px solid #ccc;
    margin: auto;
  }
  
  #target::before {
    position: absolute;
    top: -20px;
    color: #bbb;
    content: "Target of Color Service";
  }


  #target::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: attr(data-current-color);
      transform: translate(-50%,-50%);
  }

  .dark-label::after {
    color: #444;
}

  .change-button {
      padding: 5px;
      display: block;
      margin: 10px auto;
      width: 210px;
      background-color: #777;
      border: 2px inset #222;
      font-weight: bold;
      font-family: 'Courier New', Courier, monospace;
      color: #fefefe;
  }

  .submit-btn {
    font-family: 'Courier New', Courier, monospace;
    color: #fefefe;
    background-color: #777;
    border: 2px inset #222;
    margin: 0 8px;
    font-size: 1.1em;
  }

  .light-dark-bg {
      background-color: rgba(0,0,0,0.325);
      border: 1px solid #fefefe;
      padding: 5px;
      display: block;
      width: 400px;
      overflow-x: scroll;
      height: 80px;
  }

  .light-dark-bg::-webkit-scrollbar-track { 
    background: #777; 
  }

  .light-dark-bg::-webkit-scrollbar-thumb { 
    background: #333; 
  }

  .light-dark-bg::-webkit-scrollbar { 
    height: 10px;
  }


#list-container {
    width: 900px;
}

  .change-button:hover {
      background-color: #999;
  }